<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="config.js"></script>
</head>

<body>
    <div id="app">
        <dropbox-viewer :path="path"></dropbox-viewer>
    </div>
    <script type="text/x-template" id="dropbox-viewer-template">
        <div>
            <h1>Dropbox</h1>
            <transition name="fade">
                <div v-if="isLoading" class="overlay-loader">
                    <div class="loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </transition>
            <transition name="fade">
                <div v-if="!isLoading">
                    <breadcrumb :p="path"></breadcrumb>
                    <ul class="icon">
                        <template v-for="entry in structure.folders">
                            <!-- Pass individual folder to folder component -->
                            <folder :f="entry"></folder>
                        </template>

                        <template v-for="entry in structure.files">
                            <!-- Pass dropbox object and individual 
                                file as property to file component -->
                            <file :d="dropbox()" :f="entry"></file>
                        </template>
                    </ul>
                </div>
            </transition>
        </div>
    </script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
